rh_exchange/rh_exchange.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="rh_exchange" targetNamespace="urn:rh_exchange" xmlns:typens="urn:rh_exchange" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:typens0="http://localhost/weberp305/rh_exchange.php" xmlns:typens1="http://localhost/weberp305/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:rh_exchange">
			<xsd:complexType name="Exchange">
				<xsd:all>
					<xsd:element name="data" type="xsd:anyType"/>
					<xsd:element name="db_ex" type="xsd:anyType"/>
					<xsd:element name="exitcode" type="xsd:string"/>
					<xsd:element name="pass" type="xsd:anyType"/>
					<xsd:element name="user" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="cancel_invoce">
		<part name="exchange_id" type="xsd:string"/>
		<part name="invoice_id" type="xsd:string"/>
	</message>
	<message name="cancel_invoceResponse">
		<part name="cancel_invoceReturn" type="xsd:anyType"/>
	</message>
	<message name="cancel_order">
		<part name="exchange_id1" type="xsd:string"/>
		<part name="order_id" type="xsd:integer"/>
	</message>
	<message name="cancel_orderResponse">
		<part name="cancel_orderReturn" type="xsd:anyType"/>
	</message>
	<message name="create_invoice">
		<part name="exchange_id2" type="xsd:string"/>
		<part name="products" type="xsd:anyType"/>
		<part name="subtotal" type="xsd:double"/>
		<part name="tax" type="xsd:double"/>
		<part name="total" type="xsd:double"/>
	</message>
	<message name="create_invoiceResponse">
		<part name="create_invoiceReturn" type="xsd:anyType"/>
	</message>
	<message name="create_order">
		<part name="exchange_id3" type="xsd:string"/>
		<part name="products1" type="xsd:anyType"/>
		<part name="total1" type="xsd:double"/>
	</message>
	<message name="create_orderResponse">
		<part name="create_orderReturn" type="xsd:anyType"/>
	</message>
	<message name="Exchange"/>
	<message name="ExchangeResponse">
		<part name="ExchangeReturn" type="typens:Exchange"/>
	</message>
	<message name="get_Supplier">
		<part name="exchange_id4" type="xsd:string"/>
		<part name="usr" type="xsd:string"/>
		<part name="pass" type="xsd:string"/>
	</message>
	<message name="get_SupplierResponse">
		<part name="get_SupplierReturn" type="xsd:anyType"/>
	</message>
	<message name="Login">
		<part name="usr1" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="LoginResponse">
		<part name="LoginReturn" type="xsd:anyType"/>
	</message>
	<portType name="ExchangePortType">
		<operation name="cancel_invoce">
			<documentation>
				Cancel a cutomers invoice on your suppliers ERP based on a cancelaton on a purchase invoice made on your ERP.
			</documentation>
			<input message="typens:cancel_invoce"/>
			<output message="typens:cancel_invoceResponse"/>
		</operation>
		<operation name="cancel_order">
			<documentation>
				Cancel a sales order on your suppliers ERP based on a cancelation on a purchase order made on your ERP.
			</documentation>
			<input message="typens:cancel_order"/>
			<output message="typens:cancel_orderResponse"/>
		</operation>
		<operation name="create_invoice">
			<documentation>
				Create a customers invoice on your suppliers ERP based on a supplier invoice made on your ERP.
			</documentation>
			<input message="typens:create_invoice"/>
			<output message="typens:create_invoiceResponse"/>
		</operation>
		<operation name="create_order">
			<documentation>
				Create a sales order to the suppliers ERP based on a purchase order made on your ERP.
			</documentation>
			<input message="typens:create_order"/>
			<output message="typens:create_orderResponse"/>
		</operation>
		<operation name="Exchange">
			<input message="typens:Exchange"/>
			<output message="typens:ExchangeResponse"/>
		</operation>
		<operation name="get_Supplier">
			<documentation>
				Get the Supplier Info Based on its Exchange ID
			</documentation>
			<input message="typens:get_Supplier"/>
			<output message="typens:get_SupplierResponse"/>
		</operation>
		<operation name="Login">
			<documentation>
				Login to be able to use exchange services
			</documentation>
			<input message="typens:Login"/>
			<output message="typens:LoginResponse"/>
		</operation>
	</portType>
	<binding name="ExchangeBinding" type="typens:ExchangePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="cancel_invoce">
			<soap:operation soapAction="urn:ExchangeAction"/>
			<input>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="cancel_order">
			<soap:operation soapAction="urn:ExchangeAction"/>
			<input>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="create_invoice">
			<soap:operation soapAction="urn:ExchangeAction"/>
			<input>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="create_order">
			<soap:operation soapAction="urn:ExchangeAction"/>
			<input>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="Exchange">
			<soap:operation soapAction="urn:ExchangeAction"/>
			<input>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="get_Supplier">
			<soap:operation soapAction="urn:ExchangeAction"/>
			<input>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="Login">
			<soap:operation soapAction="urn:ExchangeAction"/>
			<input>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:rh_exchange" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="rh_exchangeService">
		<port name="ExchangePort" binding="typens:ExchangeBinding">
			<soap:address location="http://localhost/weberp305/rh_exchange.php"/>
		</port>
	</service>
</definitions>
